.header {
  background-color: #fdb913;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: monospace;
  font-size: 1.25rem;
  font-weight: bold;
}

.search-bar {
  background-color: #ffe084;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  width: 300px;
  font-style: italic;
}

.username {
  font-weight: bold;
}

.heder_link {
  background-color: #fdb913;
  color: white;
  border: none;
  padding: 0.75rem 2rem;
  font-size: 1rem;
  border-radius: 9999px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none;
}
.heder_link:hover {
  background-color: #e5a700;
}
